.bid-box {
  background: $color-darkgray;
  padding-top: 60px;

  .middle-title {
    margin-bottom: 26px;
  }

  .bid-form {
    .input {
      background: #484d54;
      border: none;
      font-size: 15px;
      color: #8e99a6;
      padding: 10px 20px;
      height: 50px;
      border-radius: 10px;

      &::placeholder {
        color: $color-lightgray;
      }
    }

    .checkbox {
      -webkit-appearance: none;
      width: 24px;
      height: 24px;
      border: 1px solid #e1e6ec;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 20px;
      flex-shrink: 0;

      &:checked {
        background: url("../images/check.svg") center no-repeat;
      }
    }

    .label {
      color: $color-lightgray;
      font-size: 16px;
    }

    .input-group {
      margin-bottom: 20px;
      display: flex;
    }

    .button {
      letter-spacing: 2px;
      padding-right: 20px;
      padding-left: 20px;
      margin-top: 12px;
    }
  }
}

@include tablet {
  .bid-box {
    margin-top: 35px;
    text-align: center;
    background: url("../images/dynamic.png") -100px -30px no-repeat,
      url("../images/dynamic.png") calc(100% + 110px) -30px no-repeat, $color-darkgray;
  }
}

@include desktop {
  .bid-box {
    background: url("../images/dynamic.png") left -4px no-repeat, url("../images/dynamic.png") 102% -4px no-repeat,
      $color-darkgray;

    margin-top: 65px;
    padding-top: 100px;

    .middle-title {
      margin-bottom: 39px;
    }

    .bid-form {
      .input-group {
        margin-bottom: 40px;
      }

      .button {
        margin-top: 0;

        &:hover {
          color: $color-darkgray;
          background: $color-dirty-white;
        }
      }
    }
  }
}
