.slider-box {
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;

  .slider {
    .slide {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: 451px;

      .slide-body {
        padding: 112px 0px 28px 6px;
      }
    }
  }

  .counter {
    position: absolute;
    left: 30px;
    bottom: 240px;

    color: #8b9eb1;
    font-size: 14px;
    letter-spacing: 2px;

    #current {
      font-size: 18px;
      color: $color-yellow;
    }
  }
}

@include desktop {
  .slider-box {
    margin-bottom: 90px;

    .slider {
      .slide {
        min-height: 786px;

        .slide-body {
          padding: 286px 0 38px;

          .slide-right {
            padding: 20px 10px 20px 80px;
          }
        }
      }
    }

    .counter {
      left: auto;
      right: 45px;
      bottom: 40px;

      font-size: 14px;
      letter-spacing: 2px;

      #current {
        font-size: 18px;
        color: $color-yellow;
      }
    }

    .buttons {
      position: absolute;
      display: flex;
      width: 100%;
      margin-top: -120px;

      .button {
        flex-basis: 400px;
        flex-grow: 0;
        flex-shrink: 1;
        display: block;
        padding-top: 53px;
        padding-bottom: 49px;

        &:first-child {
          text-align: right;
        }
      }
    }
  }
}

