$tablet-width: 576px;
$desktop-width: 992px;

$color-black: #000;
$color-white: #fff;
$color-yellow: #FFCF60;
$color-dark-yellow: #F6C656;

$color-darkgray: #3C4147; // title, background
$color-gray: #8C9196; // text
$color-lightgray: #8E99A6; // subtitle
$color-dirty-white: #ECEEF3;
$color-dark-blue: #1E2C3E; // button
$market-buttons: #F3F7FD;
$points-background: #FAFCFF;
$partners-background: #F7FBFF;
